#output {
  height: 200px;
  background-color: aquamarine;
  margin-bottom: 20px;
}
body {
  background: linear-gradient(to right, #0093e9 0%, #80d0c7 100%);
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container button {
  padding: 10px;
  border: none;
  font-size: 2rem;
  background-color: rgb(120, 139, 139);
  cursor: pointer;
}
.container button:hover {
  background-color: rgb(175, 157, 192);
}
.span-two {
  grid-column: span 2;
}
#disp_out {
  height: 200px;
  width: 100%;
  background-color: #0093e9;
  text-align: right;
  font-size: 40px;
  color: aliceblue;
  font-weight: 700;
}
.output {
  grid-column: 1 / -1;
  background-color: rgb(243, 92, 17);
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 10px;
  font-size: 30px;
  flex-direction: column;
  color: aliceblue;
  font-weight: 700;
  line-height: 10px;
}
